<!document html>
<html>
<head>
	<title>Duyet bieu mau</title>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link href="../css/bootstrap.min.css" rel="stylesheet" />
	<link href="../css/font-awesome.min.css" rel="stylesheet" />
	<link href="../css/styles.css" rel="stylesheet" />
	<script type="text/javascript" src="../js/jquery-1.9.1.min.js"></script>
	<style>
		.bd {border:1px solid #224455;}
	</style>
</head>	
<body>
	<script type="text/javascript" src="../js/jquery-1.11.3.min.js"></script>
	
	<div class="container bd">
		<div class=" row bd">
			
			<nav id="menu" class="navbar navbar-default">
				<div class="container-fluid">
					<div class="navbar-header">
						<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
							<span class="sr-only">Toggle navigation</span>
							<span class="icon-bar"></span>
							<span class="icon-bar"></span>
							<span class="icon-bar"></span>
						</button>
						<a class="navbar-brand" href="#"><span class="glyphicon glyphicon-home"></span></a>
					</div>
					<div id="navbar" class="navbar-collapse collapse">
						<ul class="nav navbar-nav">
							<li class="active"><a href="#">Trang Chủ</a></li>
							<li><a href="#">Hướng Dẫn</a></li>
						</ul>
						<ul class="nav navbar-nav navbar-right">
							<form class="navbar-form navbar-left" role="search">
								<div class="form-group">
									<input type="text" class="form-control" placeholder="Gv:Đặng Thanh Dũng">
								</div>
								<button type="submit" class="btn btn-info"><i class="fa fa-sign-out" ></i>Đăng Xuất</button>
							</form>
						</ul>
					</div><!--/.nav-collapse -->
				</div><!--/.container-fluid -->
			</nav>
			
		</div>
		<div class="row ">
			<div class="col-md-3">
				<div class="row  ">
					<button type="button" class="btn btn-info" style="width:100%">
						<div class="danhmuc" style="float:left">Thông tin cá nhân</div>
					</button>
				</div>
				<div class="row  ">
					<button type="button" class="btn btn-info" style="width:100%">
						<div class="danhmuc" style="float:left">Duyệt biểu mẫu trưởng bộ môn</div>
					</button>
				</div>
				<div class="row  ">
					<button type="button" class="btn btn-info" style="width:100%">
						<div class="danhmuc" style="float:left">Quản lý biểu mẫu khoa</div>
					</button>
				</div>
				<div class="row ">
					<button type="button" class="btn btn-info" style="width:100% ">	
						<div class="danhmuc" style="float:left">Đăng kí biểu mẫu</div>
					</button>
				</div>
				<div class="row ">
					<button type="button" class="btn btn-info" style="width:100% ">	
						<div class="danhmuc" style="float:left">Quản lý biểu mẫu đã đăng kí</div>
					</button>
				</div>
			</div>
			<div class="col-md-9 bd">
				<div class="row">
					<div class="form-group">
						<h4>Lựa chọn:
							<select id="cboRole" name="dropdown">
								<option value="1">Tất cả</option>
								<option value="2">Đã duyệt </option>
								<option value="3">Chưa duyệt</option>
							</select></h4>
						</div>
						<ul class="nav navbar-nav navbar-right">
							<form class="navbar-form navbar-left" role="search">
								<div class="form-group">
									<input type="text" class="form-control" placeholder="Nhập tên  biểu mẫu">
								</div>
								<button type="submit" class="btn btn-info"><span class="glyphicon glyphicon-search"></span>Search</button>
							</form>
						</ul>
					</div>
					<div class="row">
						   <h2>Duyệt biểu  mẫu</h2>
						<table class="table table-bordered">
							<thead>
								<tr>
									<th>MaGV</th>
									<th>Họ Tên</th>
									<th>Tên biểu mẫu</th>
									<th>Ngày tạo</th>
									<th>Duyệt</th>
									<th>Xem</th>
								</tr>
							</thead>
							<tbody>
								<tr>
									<td>GV001</td>
									<td>Văn Cường</td>
									<td>Thực hiện abc</td>
									<td>14/3/2016</td>
									<td>
										<dir class="checkbox"><input type="checkbox"></dir>
									</td>
									<td><a href="#">link</a></td>
								</tr>
								<tr>
									<td>2</td>
									<td>Hoài Minh</td>
									<td>Triển khai</td>
									<td>14/3/2016</td>
									<td>
										<dir class="checkbox"><input type="checkbox"></dir>
									</td>
									<td><a href="#">link</a></td>
									
								</tr>
								<tr>
									<td>3</td>
									<td>Quốc Minh</td>
									<td>Phổ biến xzy</td>
									<td>14/3/2016</td>
									<td>
										<dir class="checkbox"><input type="checkbox"></dir>
									</td>
									<td><a href="#">link</a></td>
									
								</tr>
								<tr>
									<td>3</td>
									<td>Huy Phong</td>
									<td>thực hiện</td>
									<td>14/3/2016</td>
									<td>
										<dir class="checkbox"><input type="checkbox"></dir>
									</td>
									<td><a href="#">link</a></td>
									
								</tr>
							</tbody>
						</table>
						<a href="../layout/TrangChu.html" target="_blank"><input type="button" value="Thoát" class="btn btn-info"></a>
					</div>
				</div>
			</div>
		</div> <!-- /container -->

	</body>
	</html>